* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.preloader-wrapper {
    width: 100vw;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader {
    animation: rotation 2s infinite;
}

@keyframes rotation {
    0% {
        rotate: 0;
    }
    100% {
        rotate: 360deg;
    }
}
